In [5]:
import pandas as pd
import numpy as np

In [2]:
real_data = pd.read_csv('../data/raw/heart_cleveland_upload.csv')
real_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [30]:
def generate_fake_dataset(real_data : pd.DataFrame, n_rows : int) -> pd.DataFrame:
    fake_data = real_data[0:n_rows].copy()
    for i in range(n_rows):
        for j in real_data.columns:
            fake_data.at[i, j] = real_data[j][np.random.randint(0, real_data.shape[0])]

    return fake_data

In [33]:
fake_data = generate_fake_dataset(real_data, 100)

In [34]:
fake_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,54,1,3,110,309,0,0,144,0,3.0,1,0,0,0
1,62,0,3,152,219,0,0,109,1,1.0,0,0,0,1
2,41,1,3,140,240,1,0,163,0,2.2,1,1,0,0
3,51,1,2,112,300,0,0,103,0,2.0,1,1,2,1
4,52,0,3,150,235,0,0,190,1,1.1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58,1,2,108,240,1,0,178,0,0.0,1,1,2,0
96,44,1,3,125,277,0,2,194,1,0.0,1,2,0,1
97,62,1,2,150,255,0,0,177,0,0.4,2,0,0,1
98,48,1,0,150,185,0,2,184,1,0.0,0,0,2,0
99,52,0,3,130,249,1,1,142,0,0.8,0,0,2,1

In [37]:
fake_data.to_csv('../tests/fake_data_sample.csv', index=False)